<section class="max-w-[600px] mx-auto py-8 md:py-12 lg:py-16 px-8 md:px-16 lg:px-0 border-t border-primary" id="contact" data-aos="fade-up">
  <h2 class="title-h2 text-center mb-2">Contacto</h2>
  <p class="text-center md:text-lg">¿En qué podemos ayudarte?</p>

  <form class="flex flex-col gap-6 my-12" action="#" method="post">
    <div class="item-form">
      <label for="name">Nombre</label>
      <input
        type="text"
        id="name"
        name="name"
        pattern="^[A-ZÁÉÍÓÚÑ][a-záéíóúñÁÉÍÓÚÑ]*( [A-ZÁÉÍÓÚÑ][a-záéíóúñÁÉÍÓÚÑ]*)?$"
        required
      />
    </div>

    <div class="item-form">
      <label for="email">Correo electrónico</label>
      <input
        type="email"
        id="email"
        name="email"
        required
      />
    </div>

    <div class="item-form">
      <label for="tel">Teléfono</label>
      <input
        type="tel"
        id="tel"
        name="tel"
        pattern="^\d{9}$"
        required
      />
    </div>

    <div class="item-form">
      <label for="message">Mensaje</label>
      <textarea
        id="message"
        name="message"
        rows="8"
        cols="40"
        maxlength="2000"
        required
      ></textarea>
    </div>

    <div class="flex gap-2">
      <input
        type="checkbox"
        name="privacy_policy"
        id="privacy_policy"
        required
      />
      <label for="privacy_policy">
        He leído y acepto la <a href="#" class="link">política de privacidad</a>.
      </label>
    </div>

    <div>
      <input type="submit" class="btn" value="Enviar" />
    </div>
  </form>
</section>
