<footer class="px-8 md:px-16 lg:px-32 text-primary">
  <div class="grid grid-cols-1 gap-12 text-center border-t border-primary py-16 lg:grid-cols-[1fr_2fr_1fr] lg:gap-16 lg:items-center lg:py-16">

    <div class="justify-self-center lg:justify-self-start">
      <a href="./index.html">
        <img src="./assets/images/logo.png" class="w-48 h-auto" alt="Logotipo Cocina catalana">
      </a>
    </div>

    <div class="flex flex-col gap-6">
      <nav>
        <ul class="flex flex-col gap-4 lg:flex-row lg:justify-around">
          <li class="uppercase"><a href="./index.html" class="link">Inicio</a></li>
          <li class="uppercase"><a href="./index.html" class="link">Participantes</a></li>
          <li class="uppercase"><a href="./index.html" class="link">Sobre las jornadas</a></li>
          <li class="uppercase"><a href="./index.html" class="link">Preguntas frecuentes</a></li>
        </ul>
      </nav>

      <div>
        <p class="text-sm text-center">&copy; 2025 Júlia Romero i Remacha | <abbr title="Universitat Oberta de Catalunya">UOC</abbr></p>
      </div>
    </div>

    <div class="flex justify-center gap-6 text-xl lg:gap-8 lg:justify-end">
      <a href="https://www.instagram.com/" target="_blank" rel="noopener">
        <i class="fa-brands fa-instagram hover:text-primary-hover"></i>
      </a>

      <a href="https://www.facebook.com" target="_blank" rel="noopener">
        <i class="fa-brands fa-facebook-f hover:text-primary-hover"></i>
      </a>

      <a href="https://www.twitter.com" target="_blank" rel="noopener">
        <i class="fa-brands fa-twitter hover:text-primary-hover"></i>
      </a>
    </div>
  </div>
</footer>
