<header class="top-0 z-10 w-full bg-white">
  <nav class="flex flex-wrap items-center justify-between py-5 px-9 md:px-12 md:py-7 lg:px-36 lg:py-5">
    <a href="./index.html">
      <img
        src="./assets/images/logo.png"
        alt="Logotipo Cocina catalana"
        class="w-32 h-auto md:w-48 lg:w-50"
      />
    </a>

    <button
      class="block lg:hidden p-2 text-primary hover:text-primary-hover"
      type="button"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars text-2xl"></i>
    </button>

    <div class="hidden lg:flex lg:items-center lg:gap-8">
      <ul class="flex lg:gap-16">
        <li>
          <a href="./index.html" class="link uppercase">Inicio</a>
        </li>
        <li>
          <a href="./contestants.html" class="link uppercase">Participantes</a>
        </li>
        <li>
          <a href="./article.html" class="link uppercase">Sobre las jornadas</a>
        </li>
        <li>
          <a href="#" class="link uppercase">Preguntas frecuentes</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
