<section class="section text-center">
  <h2 class="title-h2">Participantes de las jornadas</h2>

  <div class="flex flex-wrap justify-center gap-12 mt-8">
    <div class="card">
      <img src="./assets/images/speaker-1.jpg" alt="Fotografía de Maria Costa">
      <h3 class="title-h3">Maria Costa</h3>
      <p class="text-secondary mb-2 text-lg">Especialista en platos de cuchara</p>
      <p class="text-lg">Restaurante Can Costa | Vic, Barcelona</p>
    </div>

    <div class="card">
      <img src="./assets/images/speaker-2.jpg" alt="Fotografía de Berta Ribas">
      <h3 class="title-h3">Berta Ribas</h3>
      <p class="text-secondary mb-2 text-lg">Especialista en paella marinera</p>
      <p class="text-lg">Restaurante Sa Malica | Blanes, Girona</p>
    </div>

    <div class="card">
      <img src="./assets/images/speaker-3.jpg" alt="Fotografía de Marc Baltrons">
      <h3 class="title-h3">Marc Baltrons</h3>
      <p class="text-secondary mb-2 text-lg">Especialista en carnes a la brasa</p>
      <p class="text-lg">Restaurante La Brasa | Palamós, Girona</p>
    </div>
  </div>

  <div class="mt-10">
    <a href="/" class="btn">Ver todos los chefs</a>
  </div>
</section>
